.__any-editor-wrap {
  border: 1px solid #dddddd;

  * {
    margin: 0;
    padding: 0;
  }

  .__ae-menu {
    border-bottom: 1px solid #dddddd;
    background: #efefef;
    user-select: none;
    line-height: 40px;
    height: 40px;
    display: flex;

    .__ae-menu-item.active {
      background: #2367b4;
      color: white;
    }

    .__ae-menu-item {
      position: relative;

      .__ae-menu-item-title {
        min-width: 30px;
        padding: 0 8px;
        text-align: center;
        transition: all .2s;
        cursor: pointer;
  
        &:hover {
          background: #2367b4;
          color: white;
        }
      }

      .drop-items {
        position: absolute;
        background: white;
        border: 1px solid #dddddd;

        .item {
          cursor: pointer;
          padding: 0 8px;
          transition: all .2s;

          &:hover {
            background: #2367b4;
            color: white;
          }
        }
      }
    }

    // panel类型
    .__ae-panel-content {
      position: absolute;
      background: white;
      border: 1px solid #dddddd;
      padding: 0 8px;
      display: none;
    }
  }

  .__ae-content {
    #__ae-content-area {
      width: 100%;
      border: 0 none;
      min-height: 600px;
    }
  }
}
